@import "bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    max-width: 1440px;
}

img {
    max-width: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body,
header > *,
main > *,
footer > * 
{
    margin: 0 auto;
}
.ms_container-lg {
    width: 90%;    
}
.ms_container-md {
    width: 85%;
}
.ms_container-sm {
    width: 70%;
}

// DEBUG
header,
main,
footer {
    border: 1px solid black;
}
.container-blue {
    width: 85%;
    border: 3px solid blue;
}

.container-green {
    width: 70%;
    border: 3px solid green;
}
.ms_container {
    border: 3px solid grey;
}
.container-pink {
    width: 90%;
    border: 3px solid pink;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2.75rem;
    font-weight: 200;
}
h3 {
    font-size: 2rem;
    font-weight: 300;
}
p {
    font-weight: 200;
}